// src/css/quasar.variables.sass

// src/css/quasar.variables.sass

$primary   = #614f1c
$secondary = #196b14
$accent    = #864691

$dark      = #665d5d

$positive  = #61245d
$negative  = #C10015
$info      = #378291
$warning   = #b89330


